entrypoint = "index.js"
modules = ["nodejs-22", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["redis"]

[deployment]
run = ["bash", "./start.sh"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true
integrations = ["javascript_openai:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36153
externalPort = 3002

[[ports]]
localPort = 37225
externalPort = 5173

[[ports]]
localPort = 37377
externalPort = 5000

[[ports]]
localPort = 38363
externalPort = 3001

[[ports]]
localPort = 38691
externalPort = 8000

[[ports]]
localPort = 38761
externalPort = 9000

[[ports]]
localPort = 40365
externalPort = 6800

[[ports]]
localPort = 42163
externalPort = 3003

[[ports]]
localPort = 43121
externalPort = 4200

[[ports]]
localPort = 44245
externalPort = 8080

[[ports]]
localPort = 44419
externalPort = 8099

[[ports]]
localPort = 45067
externalPort = 8081

[[ports]]
localPort = 45647
externalPort = 8008

[[ports]]
localPort = 45835
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OBENTCHI Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Redis Server"

[[workflows.workflow]]
name = "OBENTCHI Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Redis Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "redis-server --bind 127.0.0.1 --port 6379 --protected-mode no"
